<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vomaon.edookit.widget">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:resizeable="true"
        android:anyDensity="true"
        />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdookitWidget"
        tools:replace="android:allowBackup">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TimetableActivity"
            android:screenOrientation="sensor"
            android:excludeFromRecents="true">
        </activity>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name=".WebShot"
            android:theme="@style/PopupTheme"
            android:excludeFromRecents="true"
            android:configChanges="uiMode">
        </activity>

        <activity android:name=".AfterLoginActivity">

        </activity>

        <receiver android:name=".EdookitWidgetProvider" android:label="@string/timetable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timetable_appwidget_info" />
        </receiver>

        <receiver android:name=".EdookitWidgetProviderDark" android:label="@string/timetable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timetable_dark_appwidget_info" />
        </receiver>
    </application>

</manifest>